* {
  box-sizing: border-box;
  font-family: 'Fira Mono', monospace;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
  padding: 20px;
}

h1 {
  color: cornflowerblue;
  letter-spacing: 5px;
  margin-bottom: 0;
}

.description {
  color: gray;
  font-style: italic;
  letter-spacing: 2px;
  margin-top: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.quiz {
  border: 5px solid cornflowerblue;
  margin: 30px auto;
  padding: 20px;
  max-width: 600px;
}

.hint {
  font-size: 10px;
}

.phrase {
  font-size: 50px;
  margin-top: 5px;
}

button {
  background-color: azure;
  border: 3px solid cornflowerblue;
  font-size: 20px;
  margin: 5px auto;
  padding: 5px 10px;
}

button:disabled {
  background-color: gray;
  border-color: darkslateblue;
  color: black;
}

.feedback {
  color: cornflowerblue;
  font-size: 25px;
  font-weight: bold;
}

aside {
  width: 30vw;
  align-self: center;
}

.score {
  color: cornflowerblue;
  font-size: 40px;
  font-weight: bold;
  margin-top: 0;
}